@media screen and (max-width: 767px) {
.header {
width: 250px;
}
.content{
    width: 150px;
    display: block;
}
.side{
    width: 100px;
    float: left;
}

.footer{
    width: 250px;
}

}

@media screen and (max-width: 479px) {
    .header{
        width: 150px;
    }
    
    .side{
        width: 150px;
        height: 500px;
        float: none;
    }
    .footer{
        width: 150px;
    }
    
}